
$purple: rgba(87,6, 140, 1);
$light_gray: rgba(147, 154, 144, 1);
$very_light_gray: rgba(226, 225, 221, 1);
$dark_gray: rgba(74, 79, 85, 1);
$teal: rgba(0, 137, 150, 1);
$green: rgba(121, 154, 5, 1);
$pink: rgba(197, 15, 60, 1);
$white_50: rgba(255,255,255, 0.5);
$white: rgba(255,255,255, 1);

* { box-sizing: border-box; }


body {
    font-family: proxima-nova, sans-serif;
    padding: 0;
    margin: 0;
}

.b-main-nav {
    background-color: $purple;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    padding: 15px 20px 0;
    position: relative;
    z-index: 10;
    display: flex;

    a {
        color: $white_50;
        margin-left:10px;

        &:hover {
            color: $white;
        }
    }

    .e-left {
        width: 10%;
    }

    .e-center {
        flex: 1;
        text-align: center;

        .e-logo {
            height: 30px;
        }

        h1 {
            color: transparent;
            padding: 0;
            margin: 0;
            margin-top: -5px;

        }
    }

    .e-right {
        width: 10%;
        text-align: right;
    }
}


@import 'projects1';
@import 'projects2';