
$purple: rgba(87,6, 140, 1);
$light_gray: rgba(147, 154, 144, 1);
$very_light_gray: rgba(226, 225, 221, 1);
$dark_gray: rgba(74, 79, 85, 1);
$teal: rgba(0, 137, 150, 1);
$green: rgba(121, 154, 5, 1);
$pink: rgba(197, 15, 60, 1);
$white_50: rgba(255,255,255, 0.5);
$white: rgba(255,255,255, 1);

* { box-sizing: border-box; }


body {
    font-family: proxima-nova, sans-serif;
    padding: 0;
    margin: 0;
}

.b-main-nav {
    background-color: $purple;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    padding: 15px 20px 0;
    position: relative;
    z-index: 10;
    display: flex;

    a {
        color: $white_50;
        margin-left:10px;

        &:hover {
            color: $white;
        }
    }

    .e-left {
        width: 10%;
    }

    .e-center {
        flex: 1;
        text-align: center;

        .e-logo {
            height: 30px;
        }

        h1 {
            color: transparent;
            padding: 0;
            margin: 0;
            margin-top: -5px;

        }
    }

    .e-right {
        width: 10%;
        text-align: right;
    }
}


.b-projects {
    &.m-data header { background-color: $teal; }
    &.m-collective-inteligence header { background-color: $green; }
    &.m-mental-models header { background-color: $pink; }

    header {
        padding: 20px;
        position: relative;
        z-index: 9;
        box-shadow: 3px 0 5px rgba(0,0,0,0.2);

        h2 {
            font-size: 2.3rem;
            text-transform: uppercase;
            font-weight: 600;
            line-height: 1.2;
            margin: 0;
            padding: 0;
        }

        h3 {
            margin: 0 0 10px 0;
            padding: 0;
            font-weight: 400;
        }

        h2, h3 {
            color: white;
        }
    }

    .e-subsection {

        .e-question {
            padding: 20px;
            background-color: $dark_gray;
            color: white;
            z-index: 8;
            box-shadow: 3px 0 5px rgba(0,0,0,0.15);
        }

        .e-projects {
            .e-project-tile {
                padding: 15px 20px;
                
                background-color: $very_light_gray;
                font-size: 1.3rem;
            }
        }
    }
}


@media only screen and (min-width: 768px) {
.b-projects {
    display: flex;

    header { width: 20%;
    }

    .e-section-content {
        width: 80%;
        flex: 1;
    }

    .e-subsection {
        display: flex;

        .e-question {
            width: 20%;
        }

        .e-projects {
            width: 80%;
            display: flex;
            flex-wrap: wrap;

            .e-project-tile {
                width: 25%;
                border-bottom: 1px solid rgba(0,0,0,0.1);
                border-right: 1px solid rgba(0,0,0,0.1);
                padding: 40px 20px;
                padding-bottom: 15%;

            }
        }
    }
}
}