
$purple: rgba(87,6, 140, 1);
$light_gray: rgba(147, 154, 144, 1);
$very_light_gray: rgba(226, 225, 221, 1);
$dark_gray: rgba(74, 79, 85, 1);
$teal: rgba(0, 137, 150, 1);
$green: rgba(121, 154, 5, 1);
$pink: rgba(197, 15, 60, 1);
$white_50: rgba(255,255,255, 0.5);
$white: rgba(255,255,255, 1);

@mixin transition {
    transition: all .4s ease;
}

* { box-sizing: border-box; }

body {
    font-family: proxima-nova, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}


.b-sticky-message {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 50px;
    background-color: #333;
    box-shadow: 0 -3px 10px rgba(0,0,0,0.3);
    display: flex;

    p {
        color: white;
        flex: 1;
        margin: 10px;
    }

    .e-close {
        width: 10%;
        color: $white_50;
        margin: 10px;
        text-align: right;

        &:hover {
            color: $white;
            cursor: pointer;
        }
    }

}

.b-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 1;

    &.m-active {
        display: block;
    }   
}

@import 'top-menu';
@import 'homepage';
@import 'sandbox';
// @import 'projects1';
// @import 'projects2';